@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  font-family: 'Abril Fatface', cursive;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.masthead {
    text-align: center;
    background: transparent url("../img/masthead-lines-bg.png") repeat left center;
    height: 3em;
}

.bg-beige{
  background-color: #E7E5D9;   
}

.brown-box{
    background-color: #87714F;     
}

.panel{
    border-image: url(../img/border.png) 20 20 20 20 stretch stretch;
    border-width: 20px 20px 20px 20px;
}

.white{
    color:white;
}

.title {
   background-color: #E7E5D9;
    display:inline-block;
    text-shadow: 3px 3px 0 #bfbfbe;
}

.img-flex {
    display: block;
    width: 100%;
}

.georgia{
    font-family: Georgia;   
}